
<div class="row sectortitle">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>
      Agriculture
    </h2>
  </div>


  <div class="col-md-2"></div>

</div>




<mdb-navbar class="subsectorresponsive" SideClass="navbar navbar-1 navbar-dark black" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Agriculture</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Rice<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Corn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Swine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Poultry</a>
            </li>            
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->





<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <ul class="subsectorlist">
      <li>
        <a>Rice</a>
        
      </li>

      <li>
        <a>Corn</a>
      </li>

      <li>
        <a>Swine</a>
      </li>

      <li>
        <a>Poultry</a>
      </li>

    </ul>
  </div>
  <div class="col-lg-8">
    <p class="sectorDescription">
      Agriculture Research & Development agenda of PCAARRD focuses on the advancement of the crops, livestock, and agricultural resources in the country.
    </p>

    <div class="row">
      <div class="col-md-6">
        <h3>
          Recent
        </h3>

        <ul class="articlelist">
            <a><li>Sweetpotato products of the DOST-PCAARRD funded Project in Albay successfully launched</li></a>
            <a><li>Mangrove Crab hatchery facility to provide reliable seedstock in Northern Luzon</li></a>
            <a><li>Philippine bamboo industry lacks comprehensive policy</li></a>
            
        </ul>
        <div style="text-align: center;">
            <a><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View All</a>
          </div>    


      </div>
      <div class="col-md-6">
        <h3>
          Most Popular
       
        </h3>

        <ul class="articlelist">
            <a><li>Carrageenan Technology for Mungbean Production</li></a>
            <a><li>Pagpupulong sa pagsulong ng industriya ng kamote at kamoteng kahoy, ginanap</li></a>
            <a><li>DOST-PCAARRD leads discussion on onion and garlic S&T gaps</li></a>
            <a><li>APO and DAP offer free e-course on agribusiness management</li></a>
            <a><li>Natural feed supplements and dewormer developed for goats by CLSU and VSU</li></a>
        </ul>
        <div style="text-align: center;">
            <a><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View All</a>
          </div>    
       </div>

    </div>


  </div>


  <div class="col-lg-1"></div>



</div>


<div class="row sectortitle">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>
      Aquatic
    </h2>
  </div>


  <div class="col-md-2"></div>

</div>




<mdb-navbar class="subsectorresponsive" SideClass="navbar navbar-1 navbar-dark black" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Aquatic</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Fish<span class="sr-only">(current)</span></a>
            </li>
    
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->






<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <ul class="subsectorlist">
      <li>
        <a>Fish</a>
        
      </li>

    </ul>
  </div>
  <div class="col-lg-8">
    <p class="sectorDescription">
      Aquatic Research & Development agenda of PCAARRD focuses on the advancement of inland aquatic resources, marine resources, and ocean environment services in the country.
    </p>

    <div class="row">
        <div class="col-md-6">
            <h3>
              Recent
            </h3>
    
            <ul class="articlelist">
                <a><li>Socio-Economic Researches in Agriculture, Aquatic and Natural Resources Seminar Series/Davao City</li></a>
                <a><li>‘Geospatial technology,’ makatutukoy ng mga lugar na maaaring pag-alagaan ng tahong</li></a>
                <a><li>Patis na gawa sa tahong na mababa ang ‘sodium,’ dinebelop ng UP Visayas</li></a>
                <a><li>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</li></a>
            </ul>
            <div style="text-align: center;">
                <a><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View All</a>
              </div>    
    
    
          </div>
          <div class="col-md-6">
            <h3>
              Most Popular
           
            </h3>
    
            <ul class="articlelist">
                <a><li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li></a>
                <a><li>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</li></a>
                <a><li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</li></a>
                <a><li>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</li></a>
            </ul>
            <div style="text-align: center;">
                <a><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View All</a>
              </div>    
           </div>

    </div>



  </div>


  <div class="col-lg-1"></div>


</div>


<div class="row sectortitle">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>
      Natural Resources
    </h2>
  </div>


  <div class="col-md-2"></div>

</div>



<mdb-navbar class="subsectorresponsive" SideClass="navbar navbar-1 navbar-dark black" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Natural Resources</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Forest<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Wildlife</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Agriforestry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Reforestation</a>
            </li>            
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->




<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <ul class="subsectorlist">
      <li>
        <a>Forest</a>
        
      </li>

      <li>
        <a>Wildlife</a>
      </li>

      <li>
        <a>Agriforestry</a>
      </li>

      <li>
        <a>Reforestation</a>
      </li>

    </ul>
  </div>
  <div class="col-lg-8">
    <p class="sectorDescription">
      Natural Resources Research & Development agenda of PCAARRD focuses on the advancement of forestry and inland environment services in the country.
    </p>

    <div class="row">
        <div class="col-md-6">
            <h3>
              Recent
            </h3>
    
            <ul class="articlelist">
                <a><li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</li></a>
                <a><li>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</li></a>
                <a><li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</li></a>
                <a><li>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</li></a>
            </ul>
            <div style="text-align: center;">
                <a><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View All</a>
              </div>    
    
          </div>
          <div class="col-md-6">
            <h3>
              Most Popular
           
            </h3>
    
            <ul class="articlelist">
                <a><li>Article 1 of numerous articles from PCAARRD. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li></a>
                <a><li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</li></a>
                <a><li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</li></a>
                <a><li>Contrary to popular belief, Lorem Ipsum is not simply random text. </li></a>
            </ul>
            <div style="text-align: center;">
                <a><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> View All</a>
              </div>
           </div>

    </div>




  </div>


  <div class="col-lg-1"></div>

</div>

