<div style="height:70vh;background:#788F99;">
    <div class="container content">
        <div class="row">


          <div class="col-md-1">
          </div>

  <div class="col-md-10">

    <div style="
              color:white;
              padding: 120px 0px 60px 0px;
              text-align: center;
              font-size: 40px;
              margin: auto;
              font-family: 'Source Sans Pro', sans-serif;

              ">
        The quick brown fox jumps over the aaaa.   The quick brown fox jumps over the aaaa. Meet,talk, magusap, magkita
      <div style="font-size: 26px;font-family: 'Bad Script', cursive;

      ">
        Smaller text to provide additional info. Halina't magusap at magkwentuhan. Mas informal Italics
        
      </div>
      <button type="button" class="btn btn-indigo">Call to Action. Register/Subscribe</button>
    </div>

  </div>


    <div class="col-md-1">
    </div>
  




    </div>

    <!-- Stats Ticker -->
      <div class="row" style="text-align: center;color:white;">

        <div class="comstat col-md-2">
          <p>
            Technologies
          </p>
          <ng2-odometer [number]="number1" [config]="{ }"></ng2-odometer>
        </div>

        <div class="comstat col-md-2">
          <p>
            Trainings
          </p>
          <ng2-odometer [number]="number2" [config]="{ }"></ng2-odometer>
        </div>

        <div class="comstat col-md-2">
          <p>
            Members
          </p>
          <ng2-odometer [number]="number3" [config]="{ }"></ng2-odometer>
        </div>

        <div class="comstat col-md-2">
          <p>
            Communities
          </p>
          <ng2-odometer [number]="number4" [config]="{ }"></ng2-odometer>
        </div>

        <div class="comstat col-md-2">
          <p>
            Stakeholders
          </p>
          <ng2-odometer [number]="number5" [config]="{ }"></ng2-odometer>
        </div>

        <div class="comstat col-md-2">
          <p>
            Seminars
          </p>
          <ng2-odometer [number]="number6" [config]="{ }"></ng2-odometer>
        </div>
  
      </div>
    </div>

  </div>

 