<div  style="background: #dddddd; color:#666666;">
  <div class="container" style="padding:20px;">
    <div class="row" >
        <div class="col-md-3">
            <img src="../../assets/seal.png" width="160px;">
        </div>

        <div class="col-md-3">

            <p>Republic of the Philippines</p>
            <p>All content is in the public domain unless otherwise stated.</p>
            
            <p>Privacy Policy</p>



        </div>

        <div class="col-md-3">

            <p> About GOVPH</p>
            <p> Learn more about the Philippine government, its structure, how government works and the people behind it.</p>
            
            <p>Official Gazette</p>
            <p>Open Data Portal</p>



        </div>

        <div class="col-md-3">
            <p>Government Links</p>
            <p>Office of the President</p>
            <p>Office of the Vice President</p>
            <p>Senate of the Philippines</p>
            <p>House of Representatives</p>
            <p>Supreme Court</p>
            <p>Court of Appeals</p>
            <p>Sandiganbayan</p>
        </div>
          
    </div>

  </div>

</div>