<div style="min-height:60vh;background:#788F99;padding-bottom: 60px;">
    <div class="container content">

        <div class="row" style="padding:100px;">
            <div class="col-md-2"></div>
            <div class="active-cyan-3 active-cyan-4 mb-4 col-md-8">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-2"></div>
            
          </div>
    
        <div class="row">


          <div class="col-md-1">
          </div>

  <div class="col-md-10">

    <div style="
              color:white;
              padding: 30px 0px 60px 0px;
              text-align: center;
              font-size: 36px;
              margin: auto;
              font-family: 'Source Sans Pro', sans-serif;

              ">
        The quick brown fox jumps over the aaaa.   The quick brown fox jumps over the aaaa. Meet,talk, magusap, magkita
      <div style="padding-bottom:40px;font-size: 22px;font-family: 'Bad Script', cursive;

      ">
        Smaller text to provide additional info. Halina't magusap at magkwentuhan. Mas informal Italics
        
      </div>
      <button type="button" class="btn btn-indigo">Call to Action. Register/Subscribe</button>
    </div>

  </div>


    <div class="col-md-1">
    </div>
  




    </div>

    <!-- Stats Ticker -->
      <div class="row" style="text-align: center;color:white;">

      

        <div class="comstat col-xl col-md-4">
          
          <a>
            <p>
              Technologies
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number1" [config]="{ }"></ng2-odometer>
              </div>
          </a>


        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Trainings
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number2" [config]="{ }"></ng2-odometer>
              </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Members
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number3" [config]="{ }"></ng2-odometer>
              </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Communities
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number4" [config]="{ }"></ng2-odometer>
              </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Stakeholders
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number5" [config]="{ }"></ng2-odometer>
            </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Seminars
            </p>
            <div class="statsDigits">
              <ng2-odometer [number]="number6" [config]="{ }"></ng2-odometer>
            </div>
            </a>
        </div>



  

      </div>


    </div>

  </div>

 