<div style="background:#818B95;">
<div id="banner" style="min-height:60vh;padding-bottom: 60px;">
    <div class="container content">

    
        <div id="opaquebg" class="row" style="padding-top:100px;">


          <div class="col-md-1">
          </div>

  <div class="col-md-10" >

    <div  style="
              color:white;
              padding: 30px 0px 60px 0px;
              text-align: center;
              font-size: 36px;
              margin: auto;
              font-family: 'Source Sans Pro', sans-serif;

              ">
              Be always in the loop


      <div style="padding-bottom:40px;font-size: 22px;font-family: 'Bad Script', cursive;

      ">
        Discover the current trends in the agriculture, aquatic, and natural resources of the country.
        
      </div>
      <button type="button" class="btn btn-indigo">Subscribe now to be updated!</button>
    </div>

  </div>


    <div class="col-md-1">
    </div>
  




    </div>

    <!-- Stats Ticker -->
      <div class="row statistics" style="text-align: center;color:white;">

      

        <div class="comstat col-xl col-md-4">
          
          <a>
            <p>
              Technologies
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number1" [config]="{ }"></ng2-odometer>
              </div>
          </a>


        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Trainings
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number2" [config]="{ }"></ng2-odometer>
              </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Members
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number3" [config]="{ }"></ng2-odometer>
              </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Communities
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number4" [config]="{ }"></ng2-odometer>
              </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Stakeholders
            </p>
            <div class="statsDigits">
                <ng2-odometer [number]="number5" [config]="{ }"></ng2-odometer>
            </div>
          </a>
        </div>

        <div class="comstat col-xl col-md-4">
          <a>
            <p>
              Seminars
            </p>
            <div class="statsDigits">
              <ng2-odometer [number]="number6" [config]="{ }"></ng2-odometer>
            </div>
            </a>
        </div>


  

      </div>

      <div class="row" style="padding:50px;">
        <div class="col-md-2"></div>
        <div class="active-cyan-3 active-cyan-4 mb-4 col-md-8">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-2"></div>
        
      </div>

    </div>
    

  </div>

</div>